h1{
    color:darkred;
    text-align:center;
    font-size:40px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
  }
body{
    background-color:darkgrey;
    background-image:url('https://images.pexels.com/photos/4194857/pexels-photo-4194857.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size:cover;
    scale: 75%;
  }  
table{
    text-align:center;
    color:deeppink;
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
h2{
    color:brown;
    font-size:35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
h3{
  color:black;
  font-size:30px;
}
th{
    color:crimson;
  }
li{
    font-size:30px;
    color:deeppink;
  }
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    color:orangered;
  }
img{
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
    shape-image-threshold:inherit ;
    position:absolute;
    right:0;
}
