body{
    background-image:url('https://th.bing.com/th/id/OIP.5DjQqA2xrqrU-NK6extWVwAAAA?w=450&h=299&rs=1&pid=ImgDetMain');
    color:goldenrod;
    background-size: cover;
    scale: 80%;
}
img{
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
    position:absolute;
    right:0;
}
header{
    text-align: center;
    font-size: 40px;
}
h2{
    color:white;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    color:orangered;
    font-size:30px;
}
h3{
    color:black;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color:deeppink;
    text-align: justify;
    font-size: 30px;
    font-family:  'Times New Roman', Times, serif;
   
}

