<<<<<<< HEAD
body{
    background-image:url("https://th.bing.com/th/id/OIP.SgvSBIgRDY6n6PCqXBQ4iAHaED?w=259&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7");
    background-size: contain;
    scale: 80%;
}

header{
    text-align: center;
    font-size: 40px;
    color:purple;
}
h2{
    color:sienna;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    color:navy;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color:darkolivegreen;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    color:deeppink;
    text-align: justify;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
img
{
    border-style: groove;
    width:400px;
    height:400px;
    right:0;
    position:absolute;
=======
body{
    background-image:url("https://th.bing.com/th/id/OIP.SgvSBIgRDY6n6PCqXBQ4iAHaED?w=259&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7");
    background-size: contain;
    scale: 80%;
}

header{
    text-align: center;
    font-size: 40px;
    color:purple;
}
h2{
    color:sienna;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    color:navy;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color:darkolivegreen;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    color:deeppink;
    text-align: justify;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
img
{
    border-style: groove;
    width:400px;
    height:400px;
    right:0;
    position:absolute;
>>>>>>> 8f170ef667f00a1b0b45e411051a59871386de2e
}