body{
    background-image:url("https://www.shutterstock.com/image-photo/project-managers-work-new-idea-260nw-2343099769.jpg");
    background-size: cover;
    scale: 80%;
  
}

header{
    text-align: center;
    font-size: 40px;
    color:black;
}
h2{
    color:deeppink;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    color:skyblue;
    font-size:30px;
}
h3{
    color:green;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color:wheat;
    text-align: justify;
    font-size: 40px;
    font-family:  'Times New Roman', Times, serif;
  
}
img{
    border-style: groove;
    width:400px;
    height:400px;  
}
